<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>wanchenglv</key>
		<string>100%</string>
		<key>jindu</key>
		<string>1</string>
		<key>name</key>
		<string>“螺旋藻”项目</string>
		<key>jianjie</key>
		<string>北京微旋基因技术有限公司是专业从事基因技术研发及产业化的创业公司。团队集中了各个领域的专家， 专门从事基因数据分析设备的研究和生产。 产品包括基因工作站， 基因操作系统和基因数据库</string>
		<key>mubiaojine</key>
		<string>￥1500万元</string>
		<key>yirenchou</key>
		<string>￥1500万元</string>
		<key>xiangmuxiangqin</key>
		<string>1、项目亮点

（1）处于基因检测行业的最前沿，行业发展快速；
（2） 符合医院客户需求，将复杂的生物信息分析门槛降低；
（3） 能促进原来第三方临检中心的服务进入医院；
（4） 通过服务过程，积累下通用的分析算法和流程；
（5）创始团队能力在 IT 硬件、软件与生物信息分析几个方面的互补。


2、企业概况

北京微旋基因技术有限公司目前主要开发基于二代测序技术的基因数据分析工作站，其从硬件革新到核心算法改进，极大的加快了数据处理的速度；标准化运算接口，可以接入更多数据运算工具，有力的保证数据处理的可靠性和效率；开放式应用开发平台，可以为更多的应用开发者提供开发环境，加速数据分析以及应用化的进程。




3、行业概况

全球二代基因测序(NGS)应用市场规模200亿美元，肿瘤占比60%: NGS 是目前基因测序最主流的技术，根据 Illumina 公司数据，全球 NGS 的应用市场规模预计为 200 亿美元，药品研发和临床应用是增速最快的领域,增速超过 15%，肿瘤诊断和个性化用药是最有应用前景的领域, 市场规模 120 亿美元。

仪器与数据分析是基因测序产业链的核心环节，龙头公司积极向产业链上下游延伸：NGS 仪器的生产具有很高的技术壁垒，目前全球市场由 Illumina, Life 和 Roche 主导。位于中游的基因测序服务提供商提供的检测结果取决于自身具有数据库的大小和数据分析能力，随着高通量测序仪的推出，数据分析能力成为行业发展的瓶颈。

无创产前诊断(NIPT)是目前市场化程度最高的临床应用,中国 NIPT 目标市场有望超过 100 亿元:全球范围来看,NIPT是目前市场化程度最高的 NGS 临床应用,随着 NIPT 成本的下降和消费者接受程度提高, 我们乐观估计中国每年 NIPT 的市场容量有望达到 150 亿元。过去 2 年中国的 NIPT市场主要被华大基因和贝瑞和康两家公司主导。

政策保驾护航,基因测序临床应用服务将步入正轨：2014 年 2 月, CFDA 和卫计委叫停国内基因测序的临床应用，3月，卫计委发表文件通知各机构可以进行基因测序临床试点的申报，6月，卫计委授权首批个体化医学试点单位。7月初，CFDA 首次批准华大基因的二代基因测序诊断产品上市。国家政策频出，为行业规范化发展保驾护航。</string>
		<key>touzijianyi</key>
		<string>1 投资亮点

通过项目组对**基因的场内和场外尽调，项目组发现**基因有如下核心价值点：
1, 处于基因检测行业的最前沿，行业发展快速；
2, 符合医院客户需求，将复杂的生物信息分析门槛降低；
3, 能促进原来第三方临检中心的服务进入医院；
4, 通过服务过程，积累下通用的分析算法和流程；
5, 创始团队能力在 IT 硬件、软件与生物信息分析几个方面的互补。

2 投资风险

同时在尽调的过程中，项目组也发现**基因在后续的发展过程中会面临如下挑战：
1, 以生物信息分析服务为核心盈利点，客户特别是医院客户付费意愿不强；
2, 行业处于早期，发展趋势和格局存在较大不确定性；
3, 创始团队偏技术，销售能力不强；
4, 创始团队在基因检测行业的背景较弱；
5, 现有市场规模小，如何快速发展扩张；
6, 技术门槛不高，如何保持先发优势，如何应对激烈的竞争。


3 投资建议

微旋基因的行业切入点比较前沿，非常符合用户需求，有一定先发优势，产品和服务能较好满足用户的要求，团队执行力较强，在个人能力性格以及业务合作都具一定互补性，同时也有产品门槛不高、现有收费模式对公司不利等方面的风险。

项目组综合判断， **基因若获得投资，能快速抢占客户并完善服务产品，并且能通过投后管理充实团队在基因检测行业的理解，以及加强在公司运营管理方面的能力。预期可以通过公司上市或者被并购取得较高回报，所以项目组建议对微旋基因进行投资。</string>
		<key>rongzifangan</key>
		<string>基因项目本次融资1500万元，项目投前估值3500万元。
目前投壶网已确认两家股权投资机构投资，其中澳银资本投资700万元，TCL创投投资300万元。
剩余500万额度将新成立契约型基金—投壶1号基金。
投壶1号基金概要：
	管理人：领投人
	目标规模：500万元人民币
	基金期限：1+4年，一年投资期，四年管理退出期，经合伙人同意可延长2年
	认购起点：30万元起，按1万元整数倍增加
	投资目标：北京微旋基友技术有限公司 基因大数据云平台项目
	管理人出资：管理人认购不低于30万元
	管理费用：第一年费率2%，以后每年1%，累计管理费不高于6%
	业绩报酬：投资净收益的10%，其中管理人提取8%，投壶网提取2%。项目退出时，先返还全部投资本金，剩余净收益部分管理人和投壶网提取业绩报酬后分配给投资人
	收益门槛：设年化8%收益门槛，未达收益门槛管理人和投壶网不计提业绩报酬
</string>
		<key>image</key>
		<string>T05</string>
	</dict>
</array>
</plist>
