<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>“维纳斯”--我的美丽事业</string>
		<key>jianjie</key>
		<string>项目公司关注女性健康与美容事业，潜心致力于生物科技同现代医学美容完美结合的产品研发之中，全力打造成功美丽事业。</string>
		<key>mubiaojine</key>
		<string>￥1000万元</string>
		<key>yirenchou</key>
		<string>￥0万</string>
		<key>xiangmuxiangqin</key>
		<string>1、项目亮点

专注： 关注女性健康与美容事业，致力生物科技与现代医学美容结合，打造成功美丽事业。
国际：于法国、加拿大设有合作研发中心
口碑：百万忠实女性会员客户
多元：集团下设医疗美容院、综合医院、SPA会所、国医养生馆、百货日化店、抗衰老中心及电商中心



2、企业概况
项目公司关注女性健康与美容事业，潜心致力于生物科技同现代医学美容完美结合的产品研发之中，全力打造成功美丽事业。
公司由著名私募股权基金投资，于法国、加拿大均设有合作研发中心，并先后与法国国家卫生研究院，法国巴黎第五大学、
中国医学科学院、中山大学建立了致力于生物科技同现代医学美容结合的世界级生物产品研发联盟。
目前集团共拥有独创研发的微晶生物技术、美白保湿、纳米金抗衰老组合物及植物防晒剂等14项产品发明专利，10项申报中
发明专利，承接了20余项国家级、省、市科技部门的科研项目。




3、行业地位
渠道+产品服务=裂变复制无限发展空间！
- 行业内少数集研发、生产、销售为一体的企业
- 行业内首家获得海外风险投资，并于2010年再次获得国内著名风投注资
- 行业内首家设立全球生物科技同现代医学美容结合的世界级产品研发联盟
- 已获得119项发明专利，雄踞化妆品类专利数量榜首
- 行业内唯一全渠道运营企业：美容院、SPA、养生馆、百货、专卖店
- 行业内拥有最多美容终端店的企业，目前已达3000多家




</string>
		<key>image</key>
		<string>T02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>分子诊断试剂盒</string>
		<key>jianjie</key>
		<string>公司基于分子诊断和免疫诊断技术平台，开发系列用于临床诊断、食品安全、环境监测、医学研究的体外诊断试剂和临床分析仪器。</string>
		<key>mubiaojine</key>
		<string>￥1000万元</string>
		<key>yirenchou</key>
		<string>￥0万</string>
		<key>xiangmuxiangqin</key>
		<string>1、项目亮点

荧光PCR
卫生部行业标准：公司独家运营从业人员体检项目已经成为行业标准，并积累下丰富的高层政府资源。
产品齐全：公司针对食源性疾病，手足口病，流感等传染病的快速诊断和溯源的系列荧光PCR快速检测试剂盒，已经完成255个试剂盒研制和销售。
技术先进：形成了品种全，一管多检，试剂预分装三大差异化卖点。
市场广阔：针对CDC系统的健康体检和疫情防控，具有市场潜力大和高成长市场特性。
定位明确：在CDC系统领域打造国内最专业，最系统，最领先的产业化技术服务商。
拓展能力：已经拥有的技术平台和销售通路结合起来，立足于全国CDC系统，沿着技术方向可以向医院临床诊断拓展，沿着市场方向可以覆盖进出口检验检疫、动物CDC和养殖企业等。

特定蛋白
四通道仪器性能优异，四个独立检测通道，可同时检测一个或多个项目。
采用动态速率散射比浊法，结果准确可靠。
多达20种试剂，产品丰富，所有检测项目均在医保目录。
全民医保促进基层医疗单位诊断试剂放量。
基层医院药品零差价，医院需要从诊断项目弥补收入差额。



2、企业概况
公司基于分子诊断和免疫诊断技术平台，开发系列用于临床诊断、食品安全、环境监测、医学研究的体外诊断试剂和临床分析仪器。

两大技术平台（15项专利）
1、分子诊断（荧光PCR技术）
2、免疫诊断（散射免疫比浊）

三个推广项目
项  目                                                  特  点
1、从业人员体检项目                      （独家、标准）
2、国家重大疾病监测网项目             （最全、多重、分装）
3、特定蛋白分析系统项目                （准确、高效、便捷）
</string>
		<key>image</key>
		<string>T03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>肿瘤液体活检检测仪器和试剂盒</string>
		<key>jianjie</key>
		<string>肿瘤液体活检凭借在肿瘤无创检测领域的应用前景，被MIT technology Review杂志列为2015年十大突破技术榜单。测序巨头Illumina CEO Jay Flatley表示，液体活检的市场规模至少达到400亿美</string>
		<key>mubiaojine</key>
		<string>￥2000万元</string>
		<key>yirenchou</key>
		<string>￥0万</string>
		<key>xiangmuxiangqin</key>
		<string>1、项目亮点

公司是国内第一家生产循环肿瘤细胞无创检测仪器及消化道肿瘤粪便DNA检测试剂盒。
项目优势
快速：30min完成3-7.5ml全血肿瘤细胞富集检测。
无创：国际性创新，唯一可再生培养的循环肿瘤细胞检测系统。
广谱：可适用多种转移性肿瘤。
可视化：操作直观简便。
灵敏度高：sDNAtest试剂盒检测消化道肿瘤（肠癌，胰腺癌）癌前病变比例高于 85%，特异性高达95%以上。


2、企业概况

公司是一家专注于重大疾病早期诊断与靶向治疗领域的高科技企业，由海外留学归国人员创办成立。公司秉承“绿色制药、成就未来”的经营宗旨，使命是通过领先的纳米生物学技术研发国际创新性疾病早期诊断与靶向治疗生物制剂，致力于发展成为中国创新绿色生物医药开发的领先者。
公司与美国华盛顿大学、加州大学、德国海德堡大学等多所海外高校建立了广泛的国际合作。已经建立了在未来五年内可持续性发展商业模式和以重大传染性疾病、肿瘤诊断试剂和抗癌纳米药物为主的系列产品计划。公司核心技术项目曾获教育部第三届“春晖杯”中国海外留学人员创新创业大赛二等奖，获国家自然科学基金、863科技计划资助，获中国科技创业大赛新苗奖等系列国家级奖励和资助。
公司现有产品：转移性癌症循环肿瘤细胞无创检测仪器
结肠癌、胰腺癌粪便DNA检测试剂盒。


3、行业概况

肿瘤早期筛查，医疗诊断试剂行业。每年市场容量100亿元以上。
2013年中国肿瘤年报：每年新发肿瘤病例约为312万例，平均每天 8550人，全国每分钟有6人被诊断为癌症。
目前主要肿瘤诊断产品：AFP、CEA/CA125/CA19-9蛋白标记物筛查试剂盒。
液相芯片检测：多肿瘤标记物蛋白芯片检测。
Luminex公司，多重 PCR假阳性，需要大型昂贵仪器。
常规PCR试剂盒：易污染、假阳性高、不被认可用作临床诊断。
市场定位：肿瘤早期基因筛查市场。
需求：肿瘤快速早期筛查低成本， 不需要特殊仪器，易于基层推广。
行业门槛：专利技术、GMP车间、SFDA质量体系认证、注册审批周期</string>
		<key>image</key>
		<string>T04</string>
	</dict>
</array>
</plist>
