<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>subClass</key>
		<array>
			<dict>
				<key>subClass</key>
				<array>
					<string>医药产业</string>
					<string>医疗器械</string>
					<string>医药工业</string>
				</array>
				<key>name</key>
				<string>医疗健康</string>
			</dict>
			<dict>
				<key>subClass</key>
				<array>
					<string>TMT</string>
					<string>新能源</string>
					<string>环保</string>
					<string>服务业</string>
					<string>制造业</string>
					<string>其他</string>
				</array>
				<key>name</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>企业</string>
	</dict>
	<dict>
		<key>subClass</key>
		<array>
			<dict>
				<key>name</key>
				<string>   </string>
			</dict>
		</array>
		<key>name</key>
		<string>投资机构</string>
	</dict>
	<dict>
		<key>subClass</key>
		<array>
			<dict>
				<key>name</key>
				<string>   </string>
			</dict>
		</array>
		<key>name</key>
		<string>孵化器</string>
	</dict>
	<dict>
		<key>subClass</key>
		<array>
			<dict>
				<key>subClass</key>
				<array/>
				<key>name</key>
				<string>券商/投行</string>
			</dict>
			<dict>
				<key>subClass</key>
				<array/>
				<key>name</key>
				<string>律师事务所</string>
			</dict>
			<dict>
				<key>subClass</key>
				<array/>
				<key>name</key>
				<string>会计师事务所</string>
			</dict>
			<dict>
				<key>subClass</key>
				<array/>
				<key>name</key>
				<string>第三方理财</string>
			</dict>
			<dict>
				<key>subClass</key>
				<array/>
				<key>name</key>
				<string>其他</string>
			</dict>
		</array>
		<key>name</key>
		<string>中介机构</string>
	</dict>
</array>
</plist>
